<!DOCTYPE html>
<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="static/pure-min.css">
  <link rel="stylesheet" href="static/style.css?v=12">
</head><body><div class="content">
  <h1>Bulltin Board</h1>
  <form action="/try_login" method="POST"
        class="pure-form pure-form-stacked">
    <legend>😃 Login necessary</legend>
    <fieldset>
      <label for="user">Username</label>
      <input type="text" name="user" id="user">
      <label for="pw">Password</label>
      <input type="password" name="pw" id="pw">
      <button type="submit"
              class="pure-button pure-button-primary">
      Login</button>
    </fieldset>
  </form>
</div></body></html>